.img-2d {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #333333;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}