.tools-seo, .compass, .sh-Tools, .hot-point {
    z-index: 99;
}
.tools-seo {
    top: 26px;
    left: 44px;
    position: absolute;
    display: flex
}
.compass {
    position: absolute;
    top: 26px;
    right: 19px;
}
.sh-Tools {
    position: absolute;
    right: 25px;
    bottom: 0px;
}
.transform {
    bottom: 151px;
}
.cesium-2d {
    position: absolute;
    right: 0;
    bottom: 372px;
}
.zoom-terrain {
    position: absolute;
    right: 0;
    bottom: 210px;
    border: 1px solid #000000;
    border-bottom: none;
    
}
.show-hot-point {
    position: absolute;
    right: 0;
    bottom: 160px;
    /* border-radius: 5px 5px 0 0; */
}
.hot-point {
    position: absolute;
    bottom: 25px;
    left: 15px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
