.tools-seo, .compass, .sh-Tools {
    z-index: 99;
}
.tools-seo {
    top: 26px;
    left: 44px;
    position: absolute;
    display: flex
}
.compass {
    position: absolute;
    top: 26px;
    right: 19px;
}
.sh-Tools {
    position: absolute;
    right: 22px;
    bottom: 0px;
}
.transform {
    bottom: 121px;
}
.cesium-2d {
    position: absolute;
    right: 0;
    bottom: 226px;
}
.zoom-terrain {
    position: absolute;
    right: 0;
    bottom: 120px;
    
}
.show-hot-point {
    position: absolute;
    right: 0;
    bottom: 88px;
    /* border-radius: 5px 5px 0 0; */
}
.hot-point {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    width: calc(100% - 22px);
    margin: 0 auto;
    z-index: 100;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.logo {
    position: absolute;
    left: 55px;
    bottom: 90px;
}