.showHotP {
    display: flex;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;

}
.isShow {
    width: 48px;
    height: 50px;
}
.showText {
    width: 200px;
    border-radius: 5px 0 0 0;
}
.top-left-radius{
    border-top-left-radius: 5px;
}