.seo {
    display: flex
}
.content {
    -webkit-appearance:none;
    -moz-appearance: none;
    height: 36px;
    width: 266px;
    border: none;
    border-left: none;
    border-right: none;
    color:#6a6f77;
    padding-left: 5px;
    /* outline:0; */
    outline:medium
}
.search {
    width:70px;
    height: 36px;
    background: #005aff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}