.terrain {
    height: 32px;
    position: relative;
    width: 32px;
    font-size: 13.8px;
    font-family: SimSun;
    background-color: #fff;
    color: #333333;
    font-size: 13.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url('../imgs/terrainT.png');
    background-repeat: no-repeat;
    background-position: 50%;
}
.layers {
    position: absolute;
    display: flex;
    right: 28px;
    width: 340px;
    padding: 10.3px 8px 9.7px 10px ;
    background-color: #fff;
    height: 64px;
    top: 0px;
}
.layers img {
    width: 100px;
    height: 45px;
    margin-right: 10px;
}
.layers img:last-child {
    margin-right: 0;
}
.hiden {
    display: none;
}