.toolGroup {
    position: relative;
    width: 71px;
    height: 47px;
}
.toolBtn {
    width: 71px;
    height: 47px;
    cursor: pointer;
}
.tools {
    position: absolute;
    border: 1px solid #000;
    border-bottom: none;
    border-radius: 5px;
    display: none;
}
.tool {
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.toolGroup:hover .tools {
    display: block;
}
.dis, .hei, .area, .more{
    background-image: url('../imgs/tool.png');
    background-repeat: no-repeat;
}
.dis {
    background-position: 0 0;
}
.hei {
    background-position: 0 33.33%;
}
.area {
    background-position: 0 66.66%;
}
.more {
    background-position: 0% 100%;
}