.zoomInOut {
    width: 50px;

}
.zoomIn, .zoomOut {
    /* border-bottom: 1px solid #000000; */
    height: 50px;
    /* background-color: #ffffff; */
    background-image: url('../imgs/zoom.svg');
    background-repeat: no-repeat;
}
.zoomIn {
    background-position: 0 0;
}
.zoomOut {
    background-position: 0 32.33%;
}